.search {
  margin: 2rem 0;
  position: relative;
}

.search input {
  font-weight: bold;
  font-size: 1rem;
  padding: .8rem .8rem .8rem 3rem;
  border: .15rem solid #e7e6e4;
  border-radius: 3rem;
}

.search input:focus {
  outline: none;
}

.search .icon {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}
