.pokemon .wrapper {
  position: relative;
  position: sticky;
  text-align: center;
  cursor: pointer;
}

.pokemon .img-background {
  border-radius: .5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.pokemon img {
  padding: 2.5rem;
  transition: transform 0.3s ease-out;
}

.pokemon .wrapper:hover .img-background {
  transform: scale(0.9);
}

.pokemon .wrapper:hover .pokeball {
  top: 12%;
  right: 10%;
}

.pokemon .information {
  margin-top: .5rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.pokemon .name {
  margin-right: .5rem;
}

.pokemon .type {
  color: #82817d;
}

.pokemon .id {
  color: #82817d;
  margin-left: .5rem;
}

.pokemon .type:after {
  margin-left: .5rem;
  content: "\B7";
}

.pokemon .pokeball {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  -webkit-mask: url('pokeball.svg') no-repeat 100% 100%;
  mask: url('pokeball.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #bbb;
  margin-right: .4rem;
  transform: translateY(.1rem);
  transition: all .3s ease-out;
}

.pokemon.collected .pokeball {
  background-color: #ef52d1;
}
