@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

.logo {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.logo .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-mask: url('../Pokemon/pokeball.svg') no-repeat 100% 100%;
  mask: url('../Pokemon/pokeball.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #ddd;
  margin-right: .8rem;
  transition: background-color .3s ease-out;
}

.logo:hover .icon {
  background-color: #ef52d1;
  animation: 3s spin infinite cubic-bezier(0.24,-0.35, 0.04, 0.99);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}
